{% extends "basics.html" %}

{% block body %}
<body>
    <div class="container-fluid">
        <header class="row" id="headerBar">
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <p>
                <a href="{{ url_for('home_page') }}"><img src="{{ url_for('static', filename='LostTimeWordmark.svg') }}" style="width:70%; max-width:350px;max-height:200px;" alt="Lost Time: utilties for orienteering event organizers"></img></a>
                </p>
            </div>
        </header>
        {% block content %}{% endblock %}
    <footer style="margin-top: 5vh; margin-bottom: 5vh">
        <p class="text-center">
        Questions, comments, suggestions, or just want to say thanks?<br />
        <i class="fa fa-twitter" aria-hidden="true"></i> @ercjns <span style="margin-left:1em"><i class="fa fa-envelope" aria-hidden="true"></i> eric-at-ercjns-dot-com</span> 
        </p>
        <p class="text-center">
        Lost Time Orienteering <i class="fa fa-copyright" aria-hidden="true"></i> <a href="http://www.ercjns.com">Eric Jones</a>

        </p>
    </footer>
    </div>
</body>
{% endblock %}