{% extends "layout.html" %}

{% block title %}LostTime - Event Result{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-10 col-sm-offset-1">
<h3 class="page-title">Post Process Event Results Step 2: Event Information</h3>
<div class="pinkline"></div>
<form action={{ url_for('eventResult.event_info', eventid=event.id) }} method="post">
<h4 class="form-section-title">Event Details</h4>
<div class="row">
<div class="col-md-7">
	<div class="form-group">
		<label for="event-name" class="control-label">Event Name</label>
		<input type="text" class="form-control" name="event-name" value="{{ event.name }}">
	</div>
	<div class="form-group">
    <!-- add a date picker. Also why is this required? -->
		<label for="event-date" class="control-label">Event Date</label>
		<div class="input-group">
		<div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
		<input type="date" class="form-control" name="event-date" value="{{ event.date.strftime('%Y-%m-%d') if event.date }}" pattern="\d{4}-\d{1,2}-\d{1,2}">
		</div>
		<p class="help-block">YYYY-MM-DD</p>
	</div>
	<div class="form-group">
		<label for="event-venue" class="control-label">Event Venue</label>
		<div class="input-group">
		<div class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
		<input type="text" class="form-control" name="event-venue" value="{{ event.venue if event.venue }}">
		</div>
	</div>
	<div class="form-group">
		<label for="event-host" class="control-label">Event Host</label>
		<input type="text" class="form-control" name="event-host" value="{{ event.host if event.host }}">
	</div>
</div>
</div>

<h4 class="form-section-title">Scoring - Individuals</h4>
<p><i>To exclude a class from results, select "Do Not Display."</i></p>
<!--<p>Add JavaScript here to quickly set presets for WIOL scoring based on hard-coded class names.</p>-->
<div class="row">
{% for ec in classes %}
	<div class="col-sm-6 col-md-4">
	<div class="form-group">
	<label for="class-score-method-{{ ec.id }}" class="control-label">{{ ec.name }} ({{ ec.shortname }})</label>
	<select name="class-score-method-{{ ec.id }}" class="form-control">
		<option value="time"{{ 'selected' if ec.scoremethod == 'time' }}>Time (no score)</option>
		<option value="worldcup"{{ 'selected' if ec.scoremethod == 'worldcup' }}>World Cup (100, 95, 92, 90...)</option>
		<option value="1000pts" {{ 'selected' if ec.scoremethod == '1000pts' }}>1000pts Ratio to Winner</option>
		<option value="alpha"{{ 'selected' if ec.scoremethod == 'alpha' }}>No Rank (alphabetical list)</option>
		<option value="hide"{{ 'selected' if ec.scoremethod == 'hide' }}>Do Not Display</option>
	</select>
	</div>
	</div>
{% endfor %}
</div>

<h4 class="form-section-title">Scoring - Teams</h4>
<div class="row">
	<div class="col-md-7">
	<div class="form-group">
		<div class="radio">
			<label>
				<input type="radio" name="event-team-score-method" value="none" checked>
				NONE - do not compute team scores for this event
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" name="event-team-score-method" value="wiol">
				WIOL (COC) - sum top 3 individuals per team per class
			</label>
		</div>
	</div>
	</div>
</div>

<h4 class="form-section-title">Output Style</h4>
<div class="row">
	<div class="col-md-7">
	<div class="form-group">
	<label for="output-style" class="control-label">Output Template</label>
	<select name="output-style" class="form-control">
		<option value="generic" selected>Generic</option>
		<option value="coc">Cascade Orienteering Club</option>
	</select>
	</div>
	</div>
</div>


<div class="row">
	<div class="col-xs-12">		
	<a class="btn btn-default" href={{ url_for('eventResult.home') }}><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back </a>
	<button type="submit" class="btn btn-default btn-primary">Continue <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
	<p style="margin-top:30px"><i>Want tools for your club? Contact me or <a href="https://github.com/ercjns/LostTime" target='_blank'>send a pull request</a>.</i></p>
	</div>
</div>
</form>

</div>
</div>

{% endblock %}
