{% extends "layout.html" %}

{% block title %}LostTime - Event Result{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-10 col-sm-offset-1">
<h3 class="page-title">Post Process Event Results Step 2: Event Information</h3>
<div class="pinkline"></div>
<form action={{ url_for('eventResult.event_info', eventid=event.id) }} method="post">
<h4 class="form-section-title">Event Details</h4>
<div class="row">
<div class="col-md-7">
	<div class="form-group">
		<label for="event-name" class="control-label">Event Name</label>
		<input type="text" class="form-control" name="event-name" value="{{ event.name }}">
	</div>
	<div class="form-group">
    <!-- add a date picker. Also why is this required? -->
		<label for="event-date" class="control-label">Event Date</label>
		<div class="input-group">
		<div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
		<input type="date" class="form-control" name="event-date" value="{{ event.date.strftime('%Y-%m-%d') if event.date }}" pattern="\d{4}-\d{1,2}-\d{1,2}">
		</div>
		<p class="help-block">YYYY-MM-DD</p>
	</div>
	<div class="form-group">
		<label for="event-venue" class="control-label">Event Venue</label>
		<div class="input-group">
		<div class="input-group-addon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
		<input type="text" class="form-control" name="event-venue" value="{{ event.venue if event.venue }}">
		</div>
	</div>
	<div class="form-group">
		<label for="event-host" class="control-label">Event Host</label>
		<input type="text" class="form-control" name="event-host" value="{{ event.host if event.host }}">
	</div>
</div>
</div>

<h4 class="form-section-title">Scoring - Individuals</h4>
<p>Preset Scoring Schemes: <button type="button" class="btn btn-default btn-sm" onclick=setCOCWiolScoring()>COC: Winter O / WIOL</button> <button type="button" class="btn btn-default btn-sm" onclick=setCOCUltimateScoring()>COC: Ultimate O</button></p>
<div class="row" id="indv-scoremethod">
{% for ec in classes %}
	<div class="col-sm-6 col-md-4">
	<div class="form-group">
	<label for="class-score-method-{{ ec.id }}" class="control-label">{{ ec.name }} ({{ ec.shortname }})</label>
	<select name="class-score-method-{{ ec.id }}" class="form-control" data-classshortname="{{ ec.shortname }}">
		{% if event.type == 'standard' %}
			<option value="time"{{ 'selected' if ec.scoremethod == 'time' }}>Time (no score)</option>
			<option value="worldcup"{{ 'selected' if ec.scoremethod == 'worldcup' }}>World Cup (100, 95, 92, 90...)</option>
			<option value="1000pts" {{ 'selected' if ec.scoremethod == '1000pts' }}>1000pts Ratio to Winner</option>
		{% elif event.type == 'score' %}
			<option value="score"{{ 'selected' if ec.scoremethod == 'score' }}>Score O: Points</option>
			<option value="score1000"{{ 'selected' if ec.scoremethod == 'score1000' }}>Score O: 1000pts Ratio</option>
		{% endif %}
			<option value="alpha"{{ 'selected' if ec.scoremethod == 'alpha' }}>No Rank (alphabetical list)</option>
			<option value="hide"{{ 'selected' if ec.scoremethod == 'hide' }}>Do Not Display</option>
	</select>
	</div>
	</div>
{% endfor %}
</div>

<h4 class="form-section-title">Scoring - Teams</h4>
<div class="row">
	<div class="col-md-7">
	<div class="form-group">
		<div class="radio">
			<label>
				<input type="radio" name="event-team-score-method" value="none" checked>
				NONE - do not compute team scores for this event
			</label>
		</div>
		<div class="radio">
			<label>
				<input type="radio" name="event-team-score-method" value="wiol">
				COC: WIOL - sum top 3 individuals per team per class
			</label>
		</div>
	</div>
	</div>
</div>

<h4 class="form-section-title">Output Style</h4>
<div class="row">
	<div class="col-md-7">
	<div class="form-group">
	<label for="output-style" class="control-label">Output Template</label>
	<select name="output-style" class="form-control">
		<option value="generic">Generic</option>
		<option value="coc" selected>Cascade Orienteering Club</option>
	</select>
	</div>
	</div>
</div>


<div class="row">
	<div class="col-xs-12">		
	<a class="btn btn-default" href={{ url_for('eventResult.home') }}><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back </a>
	<button type="submit" class="btn btn-default btn-primary">Continue <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></button>
	</div>
</div>
<input name='replace' value={{replaceid}} hidden>
</form>

<div class="row">
	<div class="col-xs-12">
		<p style="margin-top:30px"><i>Want tools for your club? Contact me or <a href="https://github.com/ercjns/LostTime" target='_blank'>send a pull request</a>.</i></p>
	</div>
</div>

</div>
</div>

{% endblock %}

{% block bottomscripts %}
<script>
function setCOCUltimateScoring() {
	$('[data-classshortname="UJM"]').val("1000pts")
	$('[data-classshortname="UJF"]').val("1000pts")
	$('[data-classshortname="UOM"]').val("1000pts")
	$('[data-classshortname="UOF"]').val("1000pts")
	$('[data-classshortname="UMM"]').val("1000pts")
	$('[data-classshortname="UMF"]').val("1000pts")
}
function setCOCWiolScoring() {
	$('[data-classshortname="8F"]').val("worldcup")
	$('[data-classshortname="8M"]').val("worldcup")
	$('[data-classshortname="W1F"]').val("worldcup")
	$('[data-classshortname="W1M"]').val("worldcup")
	$('[data-classshortname="W2F"]').val("worldcup")
	$('[data-classshortname="W2M"]').val("worldcup")
	$('[data-classshortname="W3F"]').val("worldcup")
	$('[data-classshortname="W4M"]').val("worldcup")
	$('[data-classshortname="W5M"]').val("worldcup")
	$('[data-classshortname="W6F"]').val("worldcup")
	$('[data-classshortname="W6M"]').val("worldcup")
	$('input[name="event-team-score-method"][value="wiol"]').prop('checked', 'checked')
}
</script>
{% endblock%}