{% extends "layout.html" %}

{% block title %}LostTime - Account Info{% endblock %}

{% block pagetitle %}
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
    <h3 class="page-title">Hello, {{ user.email }}</h3>
    <div class="pinkline"></div>
    </div>
</div>
{% endblock %}

{% block content %}
{% if user.isMod %}
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h3 class="section-title">LostTime Administration</h3>
    <ul>
      <li><a href="{{url_for('admin.admin_club_codes')}}">Manage Club Codes</a></li>
      <li><a href="{{url_for('admin.admin_users')}}">Manage User Accounts</a></li>
      <li><a href="{{url_for('admin.admin_events')}}">Manage Events</a></li>
      <li><a href="{{url_for('admin.admin_series')}}">Manage Series</a></li>
    </ul>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h3 class="section-title">Account Information</h3>
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <p class="form-control-static">
              {{ user.email }}
              {% if user.isVerified %}
              <span class="text-success">
                <i class="fa fa-check-circle-o" aria-hidden="true"></i> Verified
              </span>
              {% else %}
              <a href="{{url_for('auth.reconfirm_email')}}">Verify your email address</a>
              {% endif %}
            </p>
          </div>
          <label class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <p class="form-control-static">
              <a href="{{url_for('auth.change_password')}}">Change Password</a>
            </p>
          </div>
        </div>
      </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h3 class="section-title">My Event Results</h3>
    <p><a class="btn btn-primary" href="{{ url_for('eventResult.upload_event') }}">
        <i class="fa fa-flag-checkered" aria-hidden="true"></i> New Event Result</a></p>
    <p>
      Click <span class="btn-info btn-xs">Update</span> to upload a new results file (xml/csv) for that event. Use <span class="btn-danger btn-xs">Replace</span> if an event is mistakenly in this list multiple times.
    </p>
    <table class="table table-condensed table-striped">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>created</th>
        <th></th>
      </tr>
      {% for event in events %}
      <tr>
        <td>{{ event.id }}</td>
        <td><a href="{{url_for('eventResult.event_results', eventid=event.id)}}">{{ event.name }}</a> 
          <a class="btn btn-info btn-xs" href="{{url_for('eventResult.upload_event', replace=event.id)}}">Update</a>
        </td>
        <td>{{ event.created|datetimeformat('%H:%M, %d %b %Y') }}</td>
        <td>
          <button type="button" class="btn btn-danger btn-xs" onClick="openReplaceModal({{event.id}}, '{{event.name}}')">Replace</button>
        </td>
      </tr>
      {% endfor %}
    </table>
    <p><a href="#" onclick="toggleOldEvents()" id="oldEventToggle">Show Old Versions</a></p>
  </div>
</div>

<div class="modal fade" id="eventReplaceModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="eventReplaceModalTitle">Replace with an existing Event Result</h4>
      </div>
      <div class="modal-body">
        <p><b>Old Version:</b> <span id="eventReplaceModalOldEventName"></span></p>
        <form class="form">
          <input type="hidden" id="eventReplaceModalOldEvent" name="old_event" value="None">
          <div class="form-group">
            <label for="new_event" id="eventReplaceModalPrompt">New Version:</label>
              <select class="form-control" id="eventReplaceModalSelect">
                <option value="None"></option>
                {% for event in events %}
                <option value={{event.id}}>{{event.name}} (id: {{event.id}})</option>
                {% endfor %}
              </select>
          </div>
          <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Close</button>
          <button type="button" class="btn btn-primary" id="eventReplaceModalSubmit" onclick="replaceEvent()">Replace</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row" id="oldEvents" style="display:none;">
  <div class="col-sm-10 col-sm-offset-1">
    <h3 class="section-title">Old / Replaced Results</h3>
    <table class="table table-condensed table-striped">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>created</th>
        <th>replaced by</th>
      </tr>
      {% for event in old_events %}
      <tr>
        <td>{{ event.id }}</td>
        <td><a href="{{url_for('eventResult.event_results', eventid=event.id)}}">{{ event.name }}</a></td>
        <td>{{ event.created|datetimeformat('%H:%M, %d %b %Y') }}</td>
        <td>{{ event.replacedbyid }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h3 class="section-title">My Series</h3>
    <p><a class="btn btn-primary" href="{{ url_for('seriesResult.select_events') }}">
        <i class="fa fa-database" aria-hidden="true"></i> Create New Series Result</a></p>
    <table class="table table-condensed table-striped">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>created</th>
        <th></th>
      </tr>
      {% for s in series %}
      <tr>
        <td>{{ s.id }}</td>
        <td><a href="{{url_for('seriesResult.series_result', seriesid=s.id)}}">{{ s.name }}</a></td>
        <td>{{ s.updated }}</td>
        <td>
          <a href="{{url_for('seriesResult.select_events', replace=s.id)}}">update this series</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    <p><a href="#" onclick="toggleOldSeries()" id="oldSeriesToggle">Show Old Versions</a></p>
  </div>
</div>

<div class="row" id="oldSeries" style="display:none;">
    <div class="col-sm-10 col-sm-offset-1">
      <h3 class="section-title">Old / Replaced Series Results</h3>
      <table class="table table-condensed table-striped">
        <tr>
          <th>id</th>
          <th>name</th>
          <th>created</th>
          <th>replaced by</th>
        </tr>
        {% for s in old_series %}
        <tr>
          <td>{{ s.id }}</td>
          <td><a href="{{url_for('seriesResult.series_result', seriesid=s.id)}}">{{ s.name }}</a></td>
          <td>{{ s.udpated }}</td>
          <td>{{ s.replacedbyid }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>



{% endblock %}

{% block bottomscripts %}
<script>
function toggleOldEvents() {
  if ($("#oldEvents").css('display') == 'none') {
    $("#oldEvents").show();
    $("#oldEventToggle").text("Hide Old Versions");
  }
  else {
    $("#oldEvents").hide();
    $("#oldEventToggle").text("Show Old Versions");
  }
}
function toggleOldSeries() {
  if ($("#oldSeries").css('display') == 'none') {
    $("#oldSeries").show();
    $("#oldSeriesToggle").text("Hide Old Versions");
  }
  else {
    $("#oldSeries").hide();
    $("#oldSeriesToggle").text("Show Old Versions");
  }
}
function openReplaceModal(eventid, eventname) {
  // set the content of the modal
  // $('#eventReplaceModalPrompt').html('Which result replaces '.concat(eventname).concat(' (id: ').concat(eventid).concat(')?'));
  $('#eventReplaceModalOldEventName').html(eventname.concat(' (id: ').concat(eventid).concat(')'));
  $('#eventReplaceModalOldEvent').prop('value', eventid);
  $('#eventReplaceModalSelect option:disabled').prop('disabled', false);
  $('#eventReplaceModalSelect option:selected').prop('selected', false);
  var myselector = '#eventReplaceModalSelect option[value='.concat(eventid).concat(']');
  $(myselector).prop('disabled', true);

  // open the modal
  $('#eventReplaceModal').modal();
}

function replaceEvent() {
  var old_event = $('#eventReplaceModalOldEvent').prop('value');
  var new_event = $('#eventReplaceModalSelect option:selected').prop('value');
  console.log('Replacing', old_event, 'with', new_event);

  var xhr = new XMLHttpRequest();
  var url = '{{ url_for("eventResult.mark_as_replaced") }}';
  var data = new FormData();
  data.append('old_event', old_event)
  data.append('new_event', new_event)

  xhr.open("POST", url, true);
  xhr.onreadystatechange = function() {
    if(xhr.readyState == 4 && xhr.status == 200) {
      window.location = '{{ url_for("users.user_home") }}';
    }
  }
  xhr.send(data);
}
</script>
{% endblock %}