{% extends "layout.html" %}

{% block title %}LostTime - Account Info{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
    <h3 class="page-title">Hello, {{ user.email }}</h3>
    <div class="pinkline"></div>
    </div>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissable fade in">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i> {{ message }} <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endwith %}

{% if user.isMod %}
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h3 class="section-title">LostTime Administration</h3>
    <ul>
      <li><a href="{{url_for('admin.admin_club_codes')}}">Manage Club Codes</a></li>
      <li><a href="{{url_for('admin.admin_users')}}">Manage User Accounts</a></li>
      <li><a href="{{url_for('admin.admin_events')}}">Manage Events</a></li>
      <li><a href="{{url_for('admin.admin_series')}}">Manage Series</a></li>
    </ul>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h3 class="section-title">Account Information</h3>
      <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <p class="form-control-static">
              {{ user.email }}
              {% if user.isVerified %}
              <span class="text-success">
                <i class="fa fa-check-circle-o" aria-hidden="true"></i> Verified
              </span>
              {% else %}
              <a href="{{url_for('auth.reconfirm_email')}}">Verify your email address</a>
              {% endif %}
            </p>
          </div>
          <label class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <p class="form-control-static">
              <a href="{{url_for('auth.change_password')}}">Change Password</a>
            </p>
          </div>
        </div>
      </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h3 class="section-title">My Event Results</h3>
    <p><a class="btn btn-primary" href="{{ url_for('eventResult.upload_event') }}">
        <i class="fa fa-flag-checkered" aria-hidden="true"></i> Create New Event Result</a></p>
    <table class="table table-condensed table-striped">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>created</th>
        <th></th>
      </tr>
      {% for event in events %}
      <tr>
        <td>{{ event.id }}</td>
        <td><a href="{{url_for('eventResult.event_results', eventid=event.id)}}">{{ event.name }}</a></td>
        <td>{{ event.created }}</td>
        <td>
          <a href="{{url_for('eventResult.upload_event', replace=event.id)}}">update this event</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    <p><a href="#" onclick="toggleOldEvents()" id="oldEventToggle">Show Old Versions</a></p>
  </div>
</div>

<div class="row" id="oldEvents" style="display:none;">
  <div class="col-sm-10 col-sm-offset-1">
    <h3 class="section-title">Old / Replaced Results</h3>
    <table class="table table-condensed table-striped">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>created</th>
        <th>replaced by</th>
      </tr>
      {% for event in old_events %}
      <tr>
        <td>{{ event.id }}</td>
        <td><a href="{{url_for('eventResult.event_results', eventid=event.id)}}">{{ event.name }}</a></td>
        <td>{{ event.created }}</td>
        <td>{{ event.replacedbyid }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h3 class="section-title">My Series</h3>
    <p><a class="btn btn-primary" href="{{ url_for('seriesResult.select_events') }}">
        <i class="fa fa-database" aria-hidden="true"></i> Create New Series Result</a></p>
    <table class="table table-condensed table-striped">
      <tr>
        <th>id</th>
        <th>name</th>
        <th>created</th>
        <th></th>
      </tr>
      {% for s in series %}
      <tr>
        <td>{{ s.id }}</td>
        <td><a href="{{url_for('seriesResult.series_result', seriesid=s.id)}}">{{ s.name }}</a></td>
        <td>{{ s.updated }}</td>
        <td>
          <a href="{{url_for('seriesResult.select_events', replace=s.id)}}">update this series</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    <p><a href="#" onclick="toggleOldSeries()" id="oldSeriesToggle">Show Old Versions</a></p>
  </div>
</div>

<div class="row" id="oldSeries" style="display:none;">
    <div class="col-sm-10 col-sm-offset-1">
      <h3 class="section-title">Old / Replaced Series Results</h3>
      <table class="table table-condensed table-striped">
        <tr>
          <th>id</th>
          <th>name</th>
          <th>created</th>
          <th>replaced by</th>
        </tr>
        {% for s in old_series %}
        <tr>
          <td>{{ s.id }}</td>
          <td><a href="{{url_for('seriesResult.series_result', seriesid=s.id)}}">{{ s.name }}</a></td>
          <td>{{ s.udpated }}</td>
          <td>{{ s.replacedbyid }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>



{% endblock %}

{% block bottomscripts %}
<script>
function toggleOldEvents() {
	if ($("#oldEvents").css('display') == 'none') {
		$("#oldEvents").show();
		$("#oldEventToggle").text("Hide Old Versions");
	}
	else {
		$("#oldEvents").hide();
		$("#oldEventToggle").text("Show Old Versions");
	}
}
function toggleOldSeries() {
	if ($("#oldSeries").css('display') == 'none') {
		$("#oldSeries").show();
		$("#oldSeriesToggle").text("Hide Old Versions");
	}
	else {
		$("#oldSeries").hide();
		$("#oldSeriesToggle").text("Show Old Versions");
	}
}
</script>
{% endblock %}