{% extends "layout.html" %}

{% block title %}LostTime - Entry Manager{% endblock %}

{% block addhead %}
{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-10 col-sm-offset-1">
<h3 class="page-title">Manage Entries Step 2: Download</h3>
<div class="pinkline"></div>
<h4 class="form-section-title">Formatted Entry File</h4>
<p>Found <strong>{{stats['count']}}</strong> entries across the following classes: <strong>{% for c in stats['categories'] %}{{c}}{% if not loop.last %}, {% endif %}{% endfor %}</strong>.
<p><a href="{{ url_for('entryManager.static', filename=entryfn) }}" class="btn btn-success"><i class="fa fa-download" aria-hidden="true"></i> Download</a></p>
<div style="margin-top:30px;"></div>
<p><a href="{{ url_for('home_page') }}" class="btn btn-default"><i class="fa fa-home"></i> Home</a></p>
</div>
</div>
{% endblock %}

{% block bottomscripts %}
{% endblock %}