{% extends "layout.html" %}

{% block title %}LostTime - Series Result{% endblock %}

{% block content %}
<div class="row">
<div class="col-sm-10 col-sm-offset-1">
<h3 class="page-title">Series Results Step 2: Series Info</h3>
<div class="pinkline"></div>
</div>
</div>

<div class="row">
<div class="col-sm-6 col-sm-offset-1">
<h4 class="form-section-title">Series Details</h4>
<div class="form-group">
    <label for="series-name" class="control-label">Series Name</label>
    <input type="text" class="form-control" name="series-name" value="">
</div>
<div class="form-group">
    <label for="series-host" class="control-label">Series Host</label>
    <input type="text" class="form-control" name="series-host" value="">
</div>
</div>
</div>



<div class="row">
<div class="col-sm-10 col-sm-offset-1">
<h4 class="form-section-title">Series Classes</h4>
<p>Series standings will be calculated for each class (row), using only results from the indicated events.</p>
<table class="table table-condensed">
    <tr>
        <th>Class</th>
        {% for e in events %}
        <th>{{e.name}}</th>
        {% endfor %}
    </tr>
    {% for sc, scevents in seriesclasses %}
    <tr>
        <td><em>{{scevents['name']}} ({{sc}})</em></td>
        {% for e in events %}
            {% if scevents[e.id] != False %}
            <td data-event-class={{scevents[e.id].id}}><input type="checkbox"></td>
            {% else %}
            <td>n/a</td>
            {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</div>
</div>

<div class="row">
<div class="col-sm-10 col-sm-offset-1">
<h4 class="form-section-title">Scoring Method</h4>
<p>In each class, the series score is the 
<select name="series-score-method">
		<option value="sum">sum</option>
		<option value="average">average</option>
</select>
of the best <input type="number" min=1 max={{events|length}}> event scores.
</p>
<p>An entry must have at least <input type="number" min=1 max={{events|length}}> valid event scores to have a valid series score.</p>
<p>Tie series scores are awarded 
<select name="series-score-method">
        <option value="average">by comparing all {{events|length}} event scores.</option>
        <option value="average">by comparing only the contributing event scores.</option>
        <option value="sum">as a tie (no tie-breaking).</option>
</select>
</p>
</div>
</div>

<div class="row">
<div class="col-sm-7 col-sm-offset-1">
<h4 class="form-section-title">Output Style</h4>
<div class="form-group">
<label for="output-style" class="control-label">Output Template</label>
<select name="output-style" class="form-control">
    <option value="general" selected>Generic</option>
    <option value="coc">Cascade Orienteering Club</option>
</select>
</div>

<p>
    <button class="btn btn-default" onclick="info_page_with_selected_events">Back</button>
    <button class="btn btn-primary" onclick="compute_series_result">Next</button>
</p>
</div>
</div>




{% endblock %}