#heroBody, #headerBar {
	background-image: url("mapmontageblur.jpg");
    background-repeat: repeat-xy;
	}

#heroBody .row {
	margin-right: 0px;
	margin-left: 0px;
}

div #HeroContent {
	margin-top: 20vh;
	}

.container-fluid {
	background-color: #F7F7F7;
}
	
input:invalid, input:focus:invalid {
	border-style: solid;
	border-width: 2px;
	border-color: red;
}

input:valid, input:focus:valid {
	border-style: solid;
	border-width: 1px;
	border-color: green;
}

.pinkline {
	width: 100%;
	height: 2px;
	background-color: magenta;
	margin-top: 10px;
	margin-bottom: 10px;
}

.page-title {
	font-family: 'Open Sans', sans-serif;
}

.form-section-title {
	color: #FF3000;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 500;
	font-size: 1.8em;
	text-shadow: 1px 1px #FFFFFF, 1px 1px 2px #AAAAAA;
	margin-top: 30px;
}

#result-iframewrap {
	width: 100%;
	height: 506px;
	border: 3px solid magenta;
	margin-bottom: 30px;
	border-radius: 4px;
}

.nav-pills > li > a {
	background-color: white;
	border: 1px solid #adadad;
}
.nav-pills > li > a:hover {
	background-color: #d9e7f4;
}